#REALIZACION DE UN EDA

**Este proceso representara las opeaciones principales de un eda**

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r"D:\Usuarios\SP70071084\Desktop\CURSO\EXPERIMENTOS\KAGGLE\archive\sales data-set.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [ ]:
import matplotlib.pyplot as plt

In [14]:
#agrupar por tienda y sumar, contar, promediar
df_grouped = df.groupby('Store')['Weekly_Sales'].agg(['sum', 'count', 'mean']).reset_index()
#RESET_INDEX sirve para convertir el resultado en un DataFrame
df_grouped

    Store           sum  count          mean
0       1  2.224028e+08  10244  21710.543621
1       2  2.753824e+08  10238  26898.070031
2       3  5.758674e+07   9036   6373.033983
3       4  2.995440e+08  10272  29161.210415
4       5  4.547569e+07   8999   5053.415813
5       6  2.237561e+08  10211  21913.243624
6       7  8.159828e+07   9762   8358.766148
7       8  1.299512e+08   9895  13133.014768
8       9  7.778922e+07   8867   8772.890379
9      10  2.716177e+08  10315  26332.303819
10     11  1.939628e+08  10062  19276.762751
11     12  1.442872e+08   9705  14867.308619
12     13  2.865177e+08  10474  27355.136891
13     14  2.889999e+08  10040  28784.851727
14     15  8.913368e+07   9901   9002.493073
15     16  7.425243e+07   9443   7863.224124
16     17  1.277821e+08   9864  12954.393636
17     18  1.551147e+08   9859  15733.313136
18     19  2.066349e+08  10148  20362.126734
19     20  3.013978e+08  10214  29508.301592
20     21  1.081179e+08   9582  11283.435496
21     22  1.470756e+08   9688  15181.218886
22     23  1.987506e+08  10050  19776.180881
23     24  1.940160e+08  10228  18969.106500
24     25  1.010612e+08   9804  10308.157810
25     26  1.434164e+08   9854  14554.129672
26     27  2.538559e+08  10225  24826.984536
27     28  1.892637e+08  10113  18714.889803
28     29  7.714155e+07   9455   8158.810609
29     30  6.271689e+07   7156   8764.237719
30     31  1.996139e+08  10142  19681.907464
31     32  1.668192e+08  10202  16351.621855
32     33  3.716022e+07   6487   5728.414053
33     34  1.382498e+08  10224  13522.081671
34     35  1.315207e+08   9528  13803.596986
35     36  5.341221e+07   6222   8584.412563
36     37  7.420274e+07   7206  10297.355026
37     38  5.515963e+07   7362   7492.478460
38     39  2.074455e+08   9878  21000.763562
39     40  1.378703e+08  10017  13763.632803
40     41  1.813419e+08  10088  17976.004648
41     42  7.956575e+07   6953  11443.370118
42     43  9.056544e+07   6751  13415.114118
43     44  4.329309e+07   7169   6038.929814
44     45  1.123953e+08   9637  11662.897315